.collection-list {
	
	&.grid {
		padding: 28px 0; 
	}
	
	.grid-uniform {
		padding: 0 40px;
		
		> .grid-item {
			@include at-query ('min-width', $postLarge) {
				width: 50%;
			}
		}
	}
	
	.product-grid-item {
		margin: 20px 0px;
		
		@include at-query ('min-width', $small) {
			margin: 0px;
		}
	}
	
	.grid-item-wrap {
		@include display(flex);
		@include flex-wrap(nowrap);
		@include justify-content(space-between);
		min-height: 223px;
		@include flex-direction(column);
		text-align: center;
		
		@include at-query ('min-width', $small) {
			@include flex-direction(row);
			text-align: left;
		}
		
		.grid-item {
			@include flex(1 0 20%);
			align-self: center;
		}
		.grid-item:nth-child(2) {
			@include flex(3 0 20%);
		}
	}
}
.section-header--right {
	width: 425px;
}