body {
	color: $brand__black;
}
/*================ select box styling ================*/
select {
	
	&.dark, &.light {
		background: {
			position: right 7px center; 
			size: 33px; 
		}
	}
	
	&.dark {
		border: 3px solid #1a1919;
		color: $sidebar--left-color;
		background: {
			image: url($select-box-dark-uri);
			color: $sidebar--left-bgcolor;	
		}
	}
	
	html.no-svg &.dark {
  	background-image: url('img-selectbox-dark.png?1413265578');
	}
	
	&.light {
		border: 3px solid #d6d6d6;
		color: black;
		background: {
			image: url($select-box-light-uri);
			color: white;
		}
	}
	
	html.no-svg &.light {
  	background-image: url('img-selectbox-light.png?1413266587');
	}
}

/*================ Hide the svg/png arrow in firefox ================*/
@-moz-document url-prefix() { 
	select {
		&, &.dark, &.light {
			background-image: none;
		}
	}
}


/*================ social icons ================*/
.social-icons li {
	border: 1px solid #BBB;
	border-radius: 50%;
	@include size(24px);
}

/*================ Media Object ================*/
.Media {
	@include display(flex);
	@include align-items(flex-start);
	
	.supports-no-flexbox & {
		overflow: hidden;
		_overflow: visible;
		zoom: 1;
	}
}
.Media-figure {
	margin-right: 1em;
	
	.supports-no-flexbox & {
		float: left;
		display: inline-block;
  	margin-right: $gutter;
	}
}
.Media--center {
	@include align-items (center);
	
	.supports-no-flexbox & {
		display: table-cell;
		vertical-align: middle;
	}
}
.Media-body, .Media-body :last-child {
	margin-bottom: 0;
	
	.supports-no-flexbox & {
		
	}
}
.Media-body {
	@include flex(1 0 0);
	
	.supports-no-flexbox & {
		
	}
}

.section-header {
	color: #E55917;
	padding: 0px 40px;
}

/*================ Dropdowns ================*/
.site-nav--dropdown {
	@include transition(all .5s);
	
	.supports-no-touch .site-nav--has-dropdown:hover &,
  .site-nav--has-dropdown.nav-hover &,
  .nav-focus + & {
		@include transition(all .5s);
	}
}

.price-box {
	@include size(67px);
	
	@include at-query("min-width", $large) {
//		right: 35px;
	}
	
	&.on-sale .bg {
		background-color: $brand__orange;
	}
	
	.bg {
		@include transform(rotate(45deg));
		@include size(67px);
		display: inline-block;
		background-color: $brand__black;
		border-radius: 33%;
	}

	.price {
		@include transform(rotate(0deg));
		@include size(67px);
		position: absolute;
		text-align: center;
		font-weight: bold;
		color: white;
		top: 33%;
		left: 0%;
		font-size: 18px;
	}
}

.btn {
	background-color: $brand__orange;
	font-family: $SourceSansPro;
	
	&.btn--full {
		padding: 15px; 
		font-size: 1.2em;
	}
}