@font-face {
	font-family: 'icon-social';
	src:url('icon-social.eot?-f94t85');
	src:url('icon-social.eot?#iefix-f94t85') format('embedded-opentype'),
		url('icon-social.woff?-f94t85') format('woff'),
		url('icon-social.ttf?-f94t85') format('truetype'),
		url('icon-social.svg?-f94t85#icon-social') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-social-"], [class*=" icon-social-"] {
	font-family: 'icon-social';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-social-youtube3:before {
	content: "\e600";
}
.icon-social-facebook:before {
	content: "\e601";
}
.icon-social-twitter:before {
	content: "\e602";
}
.icon-social-youtube:before {
	content: "\e603";
}
.icon-social-youtube2:before {
	content: "\e604";
}
.icon-social-googleplus:before {
	content: "\e605";
}
