.main--body__feature {
	background-color: $main--header-bgcolor;
	padding-bottom: 30px;
	color: #15472e;
	
	.product-grid-image {
		
		@include filter(opacity(50%) saturate(50%));
		@include transition(all, 0.5s);
		
		.supports-touch &, &:hover {
			@include filter(opacity(100%) saturate(100%));
			@include transition(all, 0.3s);
		}
		
		.supports-no-cssfilters & {
			opacity: 0.5;
			@include transition(all, 0.5s);
		}
		
		.supports-no-cssfilters &:hover {
			opacity: 1;
			@include transition(all, 0.3s);
		}
	}
	
	.product-title {
			a, a:hover {
				color: #15472e;
				font-weight: light;
			}
		}
	
	.product-annotation {
		
	}
}

.main--body__brands {
	background-color: $main--header__brand-bgcolor;
	height: 120px;
	margin-left: 0px;
	padding: 20px;
}

.brands__list {
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	
	
	li {
		text-align: center;
		@include flex(1 1 25%); 
		@include align-self(center);
		margin-bottom: 0px;
		
		a {
			@include filter(grayscale(100%) contrast(200%)); //make them black and white
		@include transition(all .5s);
			
			&:hover {
				@include filter(grayscale(0%) contrast(100%)); //make them color
				@include transition(all .3s);
			}
		}
		
		img {
			height: 80px;
		}
	}
}

.main--body__shipping-info {
	border-bottom: 1px solid #dcdcdc;
	margin-left: 0px;
//	height: 130px;
//	@include display(flex);
//	@include justify-content(space-between);
	
	.supports-no-flexbox & {
			
	}
	
	.Media {
		@include flex(1 1 240px);
		@include align-items(space-between);
		
//		@extend %grid-item;
//		@extend %medium--one-third;
//		@extend %large--one-third;
	}
	
	.Media-figure {
		margin-right: 1em;

		[class^="icon-"], [class*=" icon-"] {
			$icon-size: 70px;
			background-size: $icon-size;
			width: $icon-size;
			height: $icon-size;	
		}
		
	}
	
	.Media-body {
//		@include flex(1 0 50px);
//		p {
//			width: 50px;
//		}
	}
}

.main--all-products-collection {
	.alternate-price-box {
		color: white;
		font: {
			size: 14px;
			weight: normal;
		}		
	}
}

.main--frontpage-collection {
		
	h2 {
		color: $brand__orange;
		
		@include at-query("max-width", $medium) {
			text-align: center;
		}
	}
	
	p.h6 { 
		text-align: center;
	}
	
	.product-title {
			a, a:hover {
				color: #7a7a7a;
				font-weight: normal;
			}
		}
}