.Page--body {
	min-height: 300vh;
}

.Page--flex, .Page--body {
  @include display(flex);
  @include flex-direction(column);
}

.sidebar--left {
  /* put the nav on the left */
  order: -1;
	flex-basis: auto;
}

.sidebar-right {
	order: -2;
	flex-basis: 75px;
}

@media (min-width: $medium) {
  .Page--body {
    @include flex-direction(row);
    @include flex(1);
  }
  .main-content {
    @include flex(1);
  }
  .sidebar--left{
    flex-basis: 230px;
  }
	.sidebar-right {
		order: 0;
	}
}

.main-content {
	.nav-wrap {
		&.grid {
			margin-left: 0px;
		}
		nav {
			padding-left: 0px;
//			@extend %grid-item;
		}
		nav:first-child {
//			@extend %large--one-half;
		}
		nav:last-child {
//			@extend %large--one-quarter; 
			@include at-query('min-width', $large) {
				// equivalent to a %push--one-quarter;
				left: 25%;
				position: relative;
			}
		}
	}
} 

/*============================================================================
  #Grid Stuff
    Using silent classes but I do think some of these grid classes are nice universal tools, silent or not.
==============================================================================*/