body {
    overflow-x: hidden;
}

.Page--body {
	@include display(flex);
	overflow: hidden;
	height: 100vh;
	/* margin-top: -100px; */
	/* padding-top: 100px; */
	position: relative;
	width: 100%;
	backface-visibility: hidden;
	will-change: overflow;
}

.sidebar--left, .sidebar--right, .main-content {
    overflow: hidden;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.sidebar--left::-webkit-scrollbar, .sidebar--left::-moz-scrollbar,
.sidebar--right::-webkit-scrollbar, .sidebar--right::-moz-scrollbar,
.main-content::-webkit-scrollbar, .main-content::-moz-scrollbar {
	display: none;
}

.sidebar--left {
  /* put the nav on the left */
//  order: -1;
	flex-basis: auto;
//	width: 8rem;
}

.main-content {
	@include flex(1);
	overflow: auto;
}

.sidebar-right {
//	order: -2;
	flex-basis: 75px;
//	width: 2rem;
} 