.template-product {
	.main--header {	
		background-color: $brand__blue;	
		
		.main--header__navs .site-nav--dropdown {
			background-color: $brand__blue;	
			
			&>li:hover>a {
				color: $brand__blue;
			}
		}
		
	}
	
	.main--body {
		padding: 0 28px 28px 28px;
	}
	
	.product-title {
		color: $brand__black;
		text-align: center;
	}
	
	.product-photo-container {
		margin-top: 40px;
	}
}

.product-detail__price-box {
	text-align: right;
	
	.price-box {
		position: relative;
		float: right;
		top: -10px;
	}
	
	.compare-price {
		color: $brand__black;
	}
}

.product-details {
	font-family: $SourceSansPro;
	
	label {
		font-weight: normal;
	}
}