@include at-query('min-width', $large) {
	
}
.product-grid {
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	padding: 0 20px;
}
.product-flex-grid-item {
	@include flex(1 1 50%);
	padding: 10px 20px;
	
	@include at-query('min-width', $small) {
		@include flex(1 1 25%);
	}
	
	@include at-query(null, $small, $medium) {
		@include flex(1 1 50%);
	}
	
	.template-collection & {
//		@include flex(1 1 140px);
		
		@include at-query(null, $small, $medium) {
//			@include flex(1 1 150px);
		}
		
		@include at-query('min-width', $postLarge) {
			@include flex(1 1 20%);
		}
	}
	
	.product-grid-image {
		height: 140px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

		@include at-query(min-width, $postLarge) {
			height: 300px;
		}
	}
	
	.price-box {
		position: absolute;
		top: -180px;
		right: 0;
	}
}

.product-title {
	text-align: center;
	margin-bottom: 0;
}

.product-price {
//	width: 362px;
//	padding: 0 25%;
	text-align: center;
	position: relative;
}
	
.alternate-price-box {
	display: inline-block;
	text-align: left;
	color: $brand__orange;
	font: {
		size: 18px;
		weight: bold;
	}
	
	&.on-sale, &.sold-out {
		text-decoration: line-through;
	}
} 