.sidebar--left {
	
	ul {
		margin-bottom: 0;
	}
	
	background-color: $sidebar--left-bgcolor;
	color: $sidebar--left-color;
	text-align: center;
	font: {
		family: 'Source Sans Pro', sans-serif;
		weight: 300;
		size: 16px;
	}

	h5 {
		text-transform: uppercase;
		font-weight: 300;
		color: $sidebar--left-h1-color;
		padding: 28px 28px 0 28px;
	}

	nav {
		text-align: left;
		background-color: inherit;
	}

	.nav-list li {
		border-bottom: 2px solid $brand__black;
		padding: 8.5px 28px;
		display: flex;

		a {
//			display: inline-block;
			flex: 1;
			color: $sidebar--left-color;
		}

		.item-count {
				display: inline-block;
//				float: right;
				background-color: #171717;
        // @include size(100px);
				padding: 0 7.5px;
				text-align: center;
			}
		}

	.logo {
		background-color: $brand__black;
		padding: 28px 0;

		.__img {
			width: 70px;
		}

		.__text {
			color: $brand__orange;
			display: block;
			text-decoration: none;
			font: {
				family: $SourceSansPro;
				size: 23.39px;
			}

			.name1 {
				font-weight: bold;
			}
			.name2 {
				font-weight: 300;
				margin-left: -4px;
			}
		}
	}

	section {
		border-bottom: 2px solid $brand__black;
		padding: 8.5px 28px;
		background-color: inherit;
	}

	select {
		margin-top: 1em;
		margin-bottom: 1em;
		font-family: $SourceSansPro;
	}
}

section.social {
	border-bottom: 2px solid $brand__black;
	padding: 48px 28px;
	background-color: $sidebar--left-bgcolor;

	.social-icons {
		text-align: center;
		margin: 0;
		
		> li:first-child {
			margin-left: 12px;
		}
	}
}
