.sidebar-right {
	background-color: $sidebar--right-bgcolor;
	color: $sidebar--right-color;
	border-left: 1px solid #cbcbcb;
}

.sidebar-right__nav {
	
	> li {
		position: relative;
		display: inline-block;
		padding: 21px 22.75px;
		height: 78px;
		@include at-query("max-width", $medium) {
			width: 49%;
			text-align: center;
		}
		
		&:last-child {
			border-top: 1px solid #9e9e9e;
			border-bottom: 1px solid #9e9e9e;
			height: 75px;
			@include at-query("max-width", $medium) {
				border: 0 none;
			}
		}
	}
	
	[class^="icon-"], [class*=" icon-"] {
		background-size: 30px;
		@include size(30px);
	}
}

.site-nav.sidebar-right__nav {
	
	> li {
		
	}
	
	.site-nav--dropdown {
		right: 18px;
		left: auto;
		width: 200px;
		text-align: right;
		background-color: $sidebar--right-bgcolor;
		@include transition(all 0.3s);
		border: 2px solid darken($sidebar--right-bgcolor, 10%);
		padding: 10px;
		
		> li {
			border-top: 0 none;
			height: auto;
			
			:last-child {
				border-bottom: 0 none;
			}
		}
	}
}

.cart-count {
	position: absolute;
	display: inline-block;
	@include size(10px);
	
}