.main--header {	
	padding: 28px 0;
	background-color: $main--header-bgcolor;
	color: $main--header-color;
//		height: 520px; //temporary;

	a, a:hover {
		color: white;
	}
}

.main-content {
	
	.nav-wrap {
		
		nav {
			
			> ul {
				@include display(flex);
				@include justify-content(space-between);
				@include flex-wrap(nowrap);

				margin: 0;
				padding: 0;
				list-style: none;
				text-align: center;
				
				> li {
					height: 44px;
				}
			}
		}
		
		nav:first-child {
			
		}
		nav:last-child {

		}
	}

	
	.main--header__navs {
		
		> li {
			@include flex(1 0 10px);
		}
		
		.site-nav--dropdown {
			
			@include at-query ('max-width', $small) {
				display: none;
			}
			
			border: 2px solid white;
			background-color: $main--header-bgcolor;
			margin: 0;
			left: 25%;
			
			> li {
				
				margin-bottom: 0;
				@include transition(all .5s);
				
				&:hover {
					background-color: white;
					@include transition(all .3s);
					
					> a {
						color: $main--header-bgcolor;
					}
				}
				
				> a {
					font-weight: normal;
					padding: 15px;
					min-width: 100px;
				}
			}
		}
	}
	
	.nav--breadcrumbs {
		
		li {
			@include flex(1 0 10px);

			a {
				@include transition(all .15s ease-in-out);
				display: block;
				position: relative;
				opacity: .5;
				
				&.is-active {
//					@extend %breadcrumbs--active-item;
				}
			}
			
			&:hover {
				> a {
					@extend %breadcrumbs--active-item;
				}
			}
		}
		
		.site-nav--active {
			> a {
//				@extend %breadcrumbs--active-item;
			}
		} 
	}
	
	.main--body {
		padding: 28px 0px;
		background-color: $main--body-bgcolor;
		border-right: 6px solid #f2f2f2;
//		height: 462px; //temporary;
	}
} 

.main--search-box {
	border-top: 2px solid rgba(0,0,0,.1);
	border-bottom: 2px solid rgba(255,255,255,.1);
	margin-top: 5px;
	
	form {
		padding: 0 40px;
		height: em(83);
		@include display(flex);
		margin-bottom: 0;
	}

	img {
		@include size(38px);
		@include align-self(center);
		margin-right: 38px;
		
		@include at-query('max-width', $small) {
			margin-right: 5px;	
		}
	}

	input[type="search"] {
		@include flex(1);
		background-color: transparent;
		border: 0 none;
		height: 100%;
		color: white;
		font: {
			weight: bold;
			size: 24px;
		}

		@include placeholder {
			color: white;
			opacity: 0;
			font: {
				weight: bold;
				size: 24px;
			}
			
			@include at-query('min-width', $small) {
				opacity: 1;
			}
		}
	}
}