{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 12 %}

<div class="main--body">
	<div class="grid">

  <div class="grid-item large--one-whole">

    <header class="section-header">
      <h2 class="section-header--left">{{ collection.title }}</h2> 
      <div class="section-header--right">

        {% include 'collection-sorting' %}
        {% include 'collection-views' %}

      </div>
    </header>

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
<!--    <div class="grid-uniform">-->
		<div class="product-grid">

      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}
      {% for product in collection.products %}

        {% include 'product-grid-item' %}

      {% else %}

        <div class="grid-item">
          <p>Sorry, there are no products matching your search.</p>
        </div>

      {% endfor %}

    </div>

    {% if paginate.pages > 1 %}
      <hr>

      <div class="text-center">
        {% include 'pagination-custom' %}
      </div>
    {% endif %}

  </div>

</div>
</div>
{% endpaginate %}
