{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% comment %}
	**** All Products Collection ****

  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="main--body__feature">
			<div class="main--all-products-collection">
								
<!--					<div class="grid-uniform">	-->
					<div class="product-grid">	

  {% comment %}
    Loop through products in your All Products collection.
    You must create this collection and add products to it.
  {% endcomment %}
	
	
	
        
	{% for product in collections.all-products.products limit:4 %}

    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% endcomment %}
    {% assign grid_item_width = 'large--one-quarter medium--one-half' %}
    {% include 'product-grid-item' %}

  {% endfor %}
				
				</div>
		</div>

</div>

{% comment %}
main--body__brands is the brand bar. Create a smart collection for each brand and set the brand logo as the collection image. Prefix the collection handle with "vendor-" to have a smaller/shorter loop. The aim here is just get a vendor image for each brand, since there doesnt appear to be a native way to do so.
Hint hint shopify, you may want to do a independent vendor object and admin panel.

in the future we could tie this to the all items collection sort order so we get the 4 vendors based on that
{% endcomment %}
<div class="main--body__brands grid large-down--hide">
	<ul class="brands__list">
	{% for collection in collections %}
		
		{% if collection.handle contains 'vendor-' %}
			
			{% for product_vendor in shop.vendors limit:4 %}
				{% if collection.title == product_vendor %}
					<li>
						<a href="{{ product_vendor | url_for_vendor }}" title="{{ product_vendor }}"> 
							<img class='' src="{{ collection.image.src | img_url: 'medium' }}" alt="{{ product_vendor }}">
						</a>
					</li>
				{% endif %}
			{% endfor %}
	
		{% endif %}
	
	{% endfor %}
		</ul>
</div>

<div class="main--body__shipping-info grid large-down--hide">
	<div class="Media Media--center grid-item medium--one-third large--one-third">
		<figure class="Media-figure">
			<span class="icon-time"></span>
		</figure>
		<div class="Media-body">
			
			ordered before 11:59?<br>
			Delivery tomorrow
			
		</div>
	</div>
	
	<div class="Media Media--center grid-item medium--one-third large--one-third">
		<figure class="Media-figure">
			<span class="icon-box"></span>
		</figure>
		<div class="Media-body">
			free shipping<br>
			for orders over $50
		</div>
	</div>
	
	<div class="Media Media--center grid-item medium--one-third large--one-third">
		<figure class="Media-figure">
			<span class="icon-phone"></span>
		</figure>
		<div class="Media-body">
			direct contact.<br>
			321 456 0987
		</div>
	</div>
</div>


{% comment %}
	**** Frontpage Collection ****

  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="main--body">
			<div class="main--frontpage-collection">
				
				<header class="section-header">
      		<h2 class="section-header--left">Our Selection</h2>
				</header> 
<!--					<div class="grid-uniform">	-->
					<div class="product-grid">	

  {% comment %}
    Loop through products in your Frontpage collection.
    This collection is created by default, but you must add products to it.
  {% endcomment %}
	
	
	
        
	{% for product in collections.frontpage.products limit:4 %}

    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% endcomment %}
    {% assign grid_item_width = 'large--one-quarter medium--one-half' %}
    {% include 'product-grid-item'%}

  {% endfor %}
				
				</div>
		</div>

</div>