{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<h2>Frontpage Collection</h2>

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="grid-uniform">

  {% comment %}
    Loop through products in your Frontpage collection.
    This collection is created by default, but you must add products to it.
  {% endcomment %}

	{% for product in collections.frontpage.products limit:4 %}

    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% endcomment %}
    {% assign grid_item_width = 'large--one-quarter medium--one-half' %}
    {% include 'product-grid-item' %}

  {% else %}

    <div class="grid-item">
      <p>You have no products in your Frontpage collection. This placeholder will appear until you <a href="/admin/custom_collections">add a product to this collection</a>.</p>
    </div>

    <div class="grid-item">
      <div class="grid-uniform">
        <div class="grid-item large--one-quarter medium--one-half text-center">
          <a href="/admin/products" class="demo-image">
            Add a Product
          </a>
          <p><a href="/admin/products">Example Product Title</a> $19.99</p>
        </div>
        <div class="grid-item large--one-quarter medium--one-half text-center">
          <a href="/admin/products" class="demo-image">
            Add a Product
          </a>
          <p><a href="/admin/products">Example Product Title</a> $19.99</p>
        </div>
        <div class="grid-item large--one-quarter medium--one-half text-center">
          <a href="/admin/products" class="demo-image">
            Add a Product
          </a>
          <p><a href="/admin/products">Example Product Title</a> $19.99</p>
        </div>
        <div class="grid-item large--one-quarter medium--one-half text-center">
          <a href="/admin/products" class="demo-image">
            Add a Product
          </a>
          <p><a href="/admin/products">Example Product Title</a> $19.99</p>
        </div>
      </div>
    </div>

  {% endfor %}

</div>

<hr>

<h2>Featured Collections</h2>

<div class="grid-uniform">

  {% comment %}
    Show five collections, unless it's 'frontpage'.

    Use an index variable in combination to the limit filter
    to account for the frontpage collection being in top six returned.

    Use variable isEmpty to check if no collections will be shown.
    For empty store demo only.
  {% endcomment %}
  {% assign index = 1 %}
  {% assign isEmpty = true %}

  {% for collection in collections limit:6 %}
    {% unless index > 5 %}

      {% unless collection.handle == 'frontpage' %}
        {% assign isEmpty = false %}
        {% assign collection_item_width = 'large--one-fifth medium--one-third' %}
        {% include 'collection-grid-item' %}
        {% comment %}Add 1 to the current index{% endcomment %}
        {% assign index = index | plus: 1 %}
      {% endunless %}

    {% endunless %}

  {% endfor %}

  {% if isEmpty %}
    <div class="grid-item">
      <p>You don't have any collections to show here. <a href="/admin/custom_collections">Add some collections</a> to go along with the default Frontpage.</p>
    </div>
    <div class="grid-item">
      <div class="grid-uniform">
        <div class="grid-item large--one-fifth medium--one-half text-center">
          <div class="demo-image">
            Collection Image
          </div>
          <p><a href="/admin/custom_collections">Example Collection Title</a> <small>(3 items)</small></p>
        </div>
        <div class="grid-item large--one-fifth medium--one-half text-center">
          <div class="demo-image">
            Collection Image
          </div>
          <p><a href="/admin/custom_collections">Example Collection Title</a> <small>(13 items)</small></p>
        </div>
        <div class="grid-item large--one-fifth medium--one-half text-center">
          <div class="demo-image">
            Collection Image
          </div>
          <p><a href="/admin/custom_collections">Example Collection Title</a> <small>(25 items)</small></p>
        </div>
        <div class="grid-item large--one-fifth medium--one-half text-center">
          <div class="demo-image">
            Collection Image
          </div>
          <p><a href="/admin/custom_collections">Example Collection Title</a> <small>(25 items)</small></p>
        </div>
        <div class="grid-item large--one-fifth medium--one-half text-center">
          <div class="demo-image">
            Collection Image
          </div>
          <p><a href="/admin/custom_collections">Example Collection Title</a> <small>(25 items)</small></p>
        </div>
      </div>
    </div>
  {% endif %}

</div>

<hr>

{% comment %}
  Loop through three recent blog articles with the following code.

  Since we're not on the blog template, we need to define the blog
  handle we want to focus on. For this example we'll use the default 'news',
  but you can create a blog page-specific content if you want.
{% endcomment %}
<h2>Latest News</h2>

<div class="grid">
  {% for article in blogs['news'].articles limit:3 %}

    <div class="grid-item large--one-third">

      <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
        {{ article.published_at | date: '%b %d, %Y' }}
      </time>
      <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>

      {% comment %}
        Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
        Since this is just a listing page, you can either use the excerpt or truncate the full article.
      {% endcomment %}
      <div class="rte">
        {% if article.excerpt.size > 0 %}
          {{ article.excerpt }}
        {% else %}
          <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
        {% endif %}
      </div>

      {% comment %}
        Show off meta information like number of comments and tags.
      {% endcomment %}
      <ul>

        {% comment %}
          Don't be fooled, the ? in comments_enabled? is part of the liquid tag.
        {% endcomment %}
        {% if blog.comments_enabled? %}
        <li>
          <a href="{{ article.url }}#comments">
            {{ article.comments_count }} {{ article.comments_count | pluralize: 'comment','comments' }}
          </a>
        </li>
        {% endif %}

      </ul>

      <p><a href="{{ article.url }}">Read more &rarr;</a></p>

    </div>

  {% endfor %}
</div>
