<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ================================================== -->
  {% include 'open-graph-tags' %}
  {% include 'twitter-card' %}

  <!-- Helpers ================================================== -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700|Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {% if settings.ajax_cart %}
  <!-- Ajaxify Cart Plugin ================================================== -->
  {{ 'ajaxify.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {% comment %}
    If you store has customers disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {% comment %}
    Theme dependent JS is loaded at the very bottom of this file for performance reasons.
    However, jQuery is included here so that it can be used inside the templates, e.g. in product.liquid.
  {% endcomment %}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr-custom.min.js' | asset_url | script_tag }}

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

	<div class="Page--body">
		<div class="Page--wrap">
			<main class="main-content">
				
				{{ content_for_layout }}

				<div class="main--header">
					<div class="nav-wrap">
					<nav>
						<ul class="main--header__navs nav--main">
							<li><a href="">Men</a></li>
							<li><a href="">Ladies</a></li>

							<li><a href="">Kids</a></li>
							<li><a href="">Camping</a></li>

							<li><a href="">Trail</a></li>
							<li><a href="">Hiking</a></li>
							<li><a href="">Sale</a></li>
						</ul>
					</nav>

					<nav>
						<ul class="nav--breadcrumbs">
							<li class="is-active"><a href="">Home</a></li>
							<li><a href="">Contact</a></li>
							<li><a href="">About Us</a></li>
						</ul>
					</nav>
					</div>

					<div class="main--search-box">
						<img src="{{ 'icon-search-white.svg' | asset_url }}">
						<input placeholder="Search by brand, product or keyword" type="text">
					</div>



				</div>

				<div class="main--body">

          <div class="main--frontpage-collection">
            
          </div>

				</div>
			
			</main>

			<div class="sidebar--left">
				<header class="logo">
						{% if settings.logo_use_image %}
              <a href="/" itemprop="url">
                <img class='__img' src="{{ 'img-logo.svg' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
              </a>
							<a href="/" itemprop="url" class="__text">
									<span class="name1">outdoor</span>
									<span class="name2">store</span>
							</a>
            {% else %}
							<a href="/" itemprop="url" class="__text">
									<span class="name1">outdoor</span>
									<span class="name2">store</span>
							</a>
<!--              <a href="/" itemprop="url">{{ shop.name }}</a>-->
            {% endif %}
				</header>
				<nav>
					<h5>Popular</h5>
					<ul class="nav-list">
						<li>
							<a href="#">
								Jackets
							</a>
							<span class="item-count">23</span>
						</li>
						<li>
							<a href="#">
								Boots
							</a>
							<span class="item-count">18</span>
						</li>
						<li>
							<a href="#">
								Coats
							</a>
							<span class="item-count">20</span>
						</li>
						<li>
							<a href="#">
								Camping
							</a>
							<span class="item-count">56</span>
						</li>
					</ul>
				</nav>

				<section class="select-brand">
					<select class="dark">
						<option>Select a brand</option>
						<option>Brand A</option>
						<option>Brand B</option>
						<option>Brand C</option>
					</select>
				</section>

				<section class="social">
					{% comment %}
            Loop through the social network links
          {% endcomment %}
          <ul class="inline-list social-icons">
            {% if settings.social_gplus_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                  <span class="icon-social-googleplus" aria-hidden="true"></span>
                  <span class="fallback-text">Google Plus</span>
                </a>
              </li>
            {% endif %}
						{% if settings.social_twitter_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                  <span class="icon-social-twitter" aria-hidden="true"></span>
                  <span class="fallback-text">Twitter</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_facebook_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                  <span class="icon-social-facebook" aria-hidden="true"></span>
                  <span class="fallback-text">Facebook</span>
                </a>
              </li>
            {% endif %}
						{% if settings.social_youtube_link != blank %}
              <li>
                <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                  <span class="icon-social-youtube3" aria-hidden="true"></span>
                  <span class="fallback-text">YouTube</span>
                </a>
              </li>
            {% endif %}
          </ul>
				</section>
			</div>

			<div class="sidebar-right">
				<ul class="sidebar-right__nav">
					<li>
						<a href="" title="Account">
							<span class="icon-user"></span>
						</a>
					</li>
					<li>
						<a href="" title="Cart">
							<span class="icon-basket"></span>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</div>

	<br>
	<hr>
	<br>

	<header class="site-header" role="banner">
    <div class="wrapper">

      <div class="grid--full">
        <div class="logo-container">
          {% comment %}
            Use the uploaded logo from theme settings if enabled.
            Site name gets precedence with H1 tag on homepage, div on other pages.
          {% endcomment %}
          {% if template == 'index' %}
            <h1 class="header-logo large--left" itemscope itemtype="http://schema.org/Organization">
          {% else %}
            <div class="h1 header-logo large--left" itemscope itemtype="http://schema.org/Organization">
          {% endif %}
            {% if settings.logo_use_image %}
              <a href="/" itemprop="url">
                <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
              </a>
            {% else %}
              <a href="/" itemprop="url">{{ shop.name }}</a>
            {% endif %}
          {% if template == 'index' %}
            </h1>
          {% else %}
            </div>
          {% endif %}
        </div>
        <div class="grid-item large--one-half text-center large--text-right">
          {% comment %}
            You cart/checkout link should at least show the number of items in it.
            Below shows the item count followed by item(s) and the total cart price.

            Ajaxify Cart Notes:
              - #cartToggle toggles cart visibility (drawer or modal)
              - #cartCount updates the total number of items in the cart
              - #cartCost updates the total cost of the cart
              - Documentation:  http://shopify.com/timber#ajax-cart
          {% endcomment %}
          <a href="/cart" id="cartToggle">
            Cart (<span id="cartCount">{{ cart.item_count }}</span> {{ cart.item_count | pluralize: 'item', 'items' }} <span id="cartCost">{{ cart.total_price | money }}</span>)
          </a>

          {% comment %}
            If customer accounts are enabled, provide login and create account links
          {% endcomment %}
          {% if shop.customer_accounts_enabled %}
          <p class="site-header--text-links">
            {% if customer %}
              Logged in as <a href="/account">{{ customer.first_name }}</a> &middot; {{ 'Log out' | customer_logout_link }}
            {% else %}
              {{ 'Log in' | customer_login_link }}
              {% if shop.customer_accounts_optional %}
              or {{ 'Create an account' | customer_register_link }}
              {% endif %}
            {% endif %}
          </p>
          {% endif %}
        </div>
      </div>

    </div>
  </header>

  <nav class="nav-bar" role="navigation">
    <div class="wrapper">
      <div class="grid">
        <div class="grid-item large--two-thirds">
          {% include 'site-nav' %}
        </div>
        <div class="grid-item large--one-third">
          <div class="nav-search">
            {% include 'search-bar' %}
          </div>
        </div>
      </div>
    </div>
  </nav>

  <main class="wrapper main-content" role="main">

    {{ content_for_layout }}

  </main>

  {% include 'footer' %}

  {% comment %}
    An (almost) empty JS file for you to place your code
  {% endcomment %}
  {{ 'shop.js' | asset_url | script_tag }}

  {% comment %}
    Ajaxify your cart with this plugin. Adding a product will reveal a drawer, modal, or confirmation button.
    Enabled by default in theme settings.

    Ajaxify Cart Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart %}
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajaxify.js' | asset_url | script_tag }}
  <script>
  jQuery(function($) {
    ajaxifyShopify.init({
      method: '{{ settings.ajax_cart_method }}', // Method options are drawer, modal, and flip. Default is drawer.
      wrapperClass: 'wrapper', // The class that defines your site width. Default is null.
      formSelector: '#addToCartForm', // Default is form[action^="/cart/add"].
      addToCartSelector: '#addToCart', // Default is input[type="submit"] within 'formSelector'.
      cartCountSelector: '#cartCount', // Update number of items in the cart when a product is added. Default is null.
      cartCostSelector: '#cartCost', // Update the total cart cost when a product is added. Default is null.
      toggleCartButton: '#cartToggle', // To toggle drawer/modal cart, include the selector here. Default is null and will take you to /cart page.
      useCartTemplate: true, // True to use cart.liquid markup. False to use handlebars.js for template. Default is true.
      btnClass: 'btn', // Your main button class for styling purposes if useCartTemplate is set to false. Default is null.
      moneyFormat: {{ shop.money_format | json }}, // Your shop money format, defined in liquid.
      disableAjaxCart: false, // If for some reason you want to disable the cart, set to true. Default is false.
      enableQtySelectors: true, // Enable the quantity selectors on your templates, even if disableAjaxCart is false. Default is true.
      prependDrawerTo: 'body' // The element selector where the cart is prepended. This is used for the drawer and flip methods. Default is 'body'.
    });
  });
  </script>
  {% endif %}

</body>
</html>
