<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if IE 11 ]><html class="ie11 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ================================================== -->
  {% include 'open-graph-tags' %}
  {% include 'twitter-card' %}

  <!-- Helpers ================================================== -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700|Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
	
	{% if settings.dev %}
		{{ 'timber-grid.css' | asset_url | stylesheet_tag }}
	{% endif %}
	
  {% if settings.ajax_cart %}
  <!-- Ajaxify Cart Plugin ================================================== -->
  {{ 'ajaxify.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {% comment %}
    If you store has customers disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {% comment %}
    Theme dependent JS is loaded at the very bottom of this file for performance reasons.
    However, jQuery is included here so that it can be used inside the templates, e.g. in product.liquid.
  {% endcomment %}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr-custom.min.js' | asset_url | script_tag }}

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="Page--flex {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

<!--	<div class="Page--body">-->
		<div class="Page--body">
			
			<main class="main-content">

				<div class="main--header">
					<div class="nav-wrap grid">
						<nav class="grid-item large--one-half">

							{% include 'site-nav' %}

						</nav>

						<nav class="grid-item large--one-quarter">
							{% include 'breadcrumbs-nav' %}
						</nav>
					</div>

					<div class="main--search-box">
						{% include 'search-bar' %}
					</div>
					
				</div>
				
				{{ content_for_layout }}
				
				<footer style="display:none;" class="pre-medium-down--show">
					<section class="social">
						{% include 'social' %}
					</section>
				</footer>
				
			</main>

			<div class="sidebar--left">
				<header class="logo">
						{% if settings.logo_use_image %}
              <a href="/" itemprop="url">
                <img class='__img' src="{{ 'img-logo.svg' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
              </a>
							<a href="/" itemprop="url" class="__text">
									<span class="name1">outdoor</span>
									<span class="name2">store</span>
							</a>
            {% else %}
							<a href="/" itemprop="url" class="__text">
									<span class="name1">outdoor</span>
									<span class="name2">store</span>
							</a>
<!--              <a href="/" itemprop="url">{{ shop.name }}</a>-->
            {% endif %}
				</header>
				
				{% if template == "index" %}
					{% include 'sidebar-default' %}
				{% endif %}
				
				{% if template == "collection" or template == "collection.list" %} 
					{% include 'sidebar-collection' %} 
				{% endif %}
			</div>

			<div class="sidebar-right pre-medium-down--hide">
				{% include 'sidebar-right-account' %} 
			</div>
			
<!--
			<section style="display:none" class="social medium-down--show">
					{% comment %}
						{% include 'social' %}
					{% endcomment %}
				</section>
-->
		</div>
		
<!--	</div>-->

  {% comment %}
    An (almost) empty JS file for you to place your code
  {% endcomment %}
  {{ 'shop.js' | asset_url | script_tag }}
  
<!--
	{{ 'foundation.js' | asset_url | script_tag }}
  {{ 'foundation.dropdown.js' | asset_url | script_tag }} 
-->
  {{ 'bootstrap.min.js' | asset_url | script_tag }}

  {% comment %}
    Ajaxify your cart with this plugin. Adding a product will reveal a drawer, modal, or confirmation button.
    Enabled by default in theme settings.

    Ajaxify Cart Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart %}
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajaxify.js' | asset_url | script_tag }}
  <script>
  jQuery(function($) {
    ajaxifyShopify.init({
      method: '{{ settings.ajax_cart_method }}', // Method options are drawer, modal, and flip. Default is drawer.
      wrapperClass: 'wrapper', // The class that defines your site width. Default is null.
      formSelector: '#addToCartForm', // Default is form[action^="/cart/add"].
      addToCartSelector: '#addToCart', // Default is input[type="submit"] within 'formSelector'.
      cartCountSelector: '#cartCount', // Update number of items in the cart when a product is added. Default is null.
      cartCostSelector: '#cartCost', // Update the total cart cost when a product is added. Default is null.
      toggleCartButton: '#cartToggle', // To toggle drawer/modal cart, include the selector here. Default is null and will take you to /cart page.
      useCartTemplate: true, // True to use cart.liquid markup. False to use handlebars.js for template. Default is true.
      btnClass: 'btn', // Your main button class for styling purposes if useCartTemplate is set to false. Default is null.
      moneyFormat: {{ shop.money_format | json }}, // Your shop money format, defined in liquid.
      disableAjaxCart: false, // If for some reason you want to disable the cart, set to true. Default is false.
      enableQtySelectors: true, // Enable the quantity selectors on your templates, even if disableAjaxCart is false. Default is true.
      prependDrawerTo: 'body' // The element selector where the cart is prepended. This is used for the drawer and flip methods. Default is 'body'.
    });
  });
		
//		$(document).foundation();
  </script>
  {% endif %}

</body>
</html>
