{% comment %}
  List out your breadcrumbs linklist (default)

  More info on linklists:
    - http://docs.shopify.com/themes/liquid-variables/linklists
{% endcomment %}
<ul class="site-nav nav--breadcrumbs">
  {% for link in linklists.breadcrumbs.links %}
    {% comment %}
      Create a dropdown menu by naming a linklist the same as a link in the parent nav

      More info on dropdowns:
        - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
    {% endcomment %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
		
      <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
				
        <a href="{{ link.url }}">{{ link.title }}</a>
        <ul class="site-nav--dropdown">
          {% for childlink in linklists[child_list_handle].links %}
            <li {% if childlink.active %}class="site-nav--active"{% endif %}><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li {% if link.active %}class=" site-nav--active"{% endif %}>
        
				{% if link.url == page.url %}
					<a class="is-active" href="{{ link.url }}">
				{% elsif page.url == "" %}
					<a class="is-active" href="{{ link.url }}">
				{% else %}
					<a class="" href="{{ link.url }}">		
				{% endif %} 
				
        
					{{ link.title }}
				</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
