{% if shop.vendors.size > 0 %}
<ul class="site-nav" id="accessibleNav">
    <li class="site-nav--has-dropdown" aria-haspopup="true">
        <a href="">Brands</a>
        <ul class="site-nav--dropdown">
          	{% for product_vendor in shop.vendors %}
            <li class="site-nav--active">
							{{ product_vendor | link_to_vendor }}
						</li>
          	{% endfor %}	
        </ul>
      </li>
</ul>
{% endif %}