<select class="dark">
	<option selected>Select a brand</option>
	{% if template == "index" %}
		{% for product_vendor in shop.vendors %}
			<option>{{ product_vendor }}</option>
		{% endfor %}
	{% endif %}
	
	{% if template == "collection" or template == "collection.list" %} 
		{% for vendor in collection.all_vendors %}
			<option>{{ vendor }}</option>
		{% endfor %}
	{% endif %}
</select>