<button class="button" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Has Dropdown</button>
<ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
	{% for vendor in collection.all_vendors %}
		{% if collection.current_vendor == vendor %}
        <li class="active-filter">
          {{ vendor }}
        </li>
      {% else %}
        <li>
          {{ vendor | link_to_vendor }}
        </li>
      {% endif %}
    {% endfor %}
</ul> 