{% comment %}

  Side navigation for the product types, vendors, and tags.
  These can be based on the current collection or all products. Details in comments below.

  Note: Clicking on a tag will filter the products within the current collection.
  Clicking on a type or vendor link will take you out of the current collection
  to a standalone collection page. E.g. /collections/vendors?q=Pepsi

{% endcomment %}

{% comment %}
  Product types in the current collection
    - List all of the shop's types with collections.all.all_types
    - List the current collection's types with collection.all_types 
{% endcomment %}
<nav class="pre-medium-down--hide">
{% if collection.all_types.size > 0 %}
<h5>Product Types</h5>
  <ul class="nav-list">
    {% for type in collection.all_types %}
      {% if collection.current_type == type %}
        <li class="active-filter">
          {{ type }}
        </li>
      {% else %}
        <li>
          {{ type | link_to_type }}
					
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

{% comment %}
  Product vendors in the current collection
    - List all of the shop's vendors with collections.all.all_vendors
    - List the current collection's vendors with collection.all_vendors
{% endcomment %}
{% if collection.all_vendors.size > 0 %}
<h5>Brands</h5>
  <ul class="nav-list">
    {% for vendor in collection.all_vendors %}
      {% if collection.current_vendor == vendor %}
        <li class="active-filter">
          {{ vendor }}
        </li>
      {% else %}
        <li>
          {{ vendor | link_to_vendor }}
					
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
</nav>

{% comment %}
<section>
	{% include 'select-brand' %} 
</section>
{% endcomment %}