<ul class="site-nav sidebar-right__nav ">
					{% if shop.customer_accounts_enabled %}
					<li class="site-nav--has-dropdown">
						<a href="#" title="Account">
							<span class="icon-user"></span>
						</a>
						<ul class="site-nav--dropdown">
							
							{% if customer %}
							<li>
								<a href="/account" title="Logged in as {{ customer.first_name }}">
									Logged in as {{ customer.first_name }}
								</a>
							</li>
						{% else %}
							<li>
							{{ 'Log in' | customer_login_link }}
								</a>
							</li>
						{% endif %}
          		
							{% if customer %}
							<li>
								{{ 'Log out' | customer_logout_link }}
							</li>
							{% endif %}
							{% if shop.customer_accounts_optional %}
								<li>
									{{ 'Create an account' | customer_register_link }}
							{% endif %} 
						
						</ul>
				</li>
				{% else %}
				<li></li>	
					
				{% endif %}
					<li class="cart-link">
						<a href="/cart" title="Cart">
							<span class="icon-basket"></span>
						</a>
						<span class="cart-count">
							
						</span>
					</li>
				</ul>