<nav class="pre-medium-down--hide">
	<h5>Popular</h5>
	<ul class="nav-list">

	{% for collection in collections limit:6 %}
		{% unless index > 5 %}

			{% unless collection.handle == 'frontpage' %}
				{% assign isEmpty = false %}

					{% if collection.handle == 'men' or collection.handle == 'women' or collection.handle == 'all-products' or collection.handle contains 'vendor-' %}

					{% else %} 
						<li>
							<a href="{{ collection.url }}" title="Browse our {{ collection.title }} collection">{{ collection.title }}</a>
							<span class="item-count">{{collection.all_products_count}}</span>
						</li>

					{% endif %}

				{% comment %}Add 1 to the current index{% endcomment %}
				{% assign index = index | plus: 1 %}
			{% endunless %}
		{% endunless %}
	{% endfor %}

	</ul>
	{% include 'select-brand-list' %} 
</nav>

{% comment %}
<section>
	{% include 'select-brand' %} 
</section>
{% endcomment %}

<section class="social pre-medium-down--hide">
	{% include 'social' %}
</section>