/*============================================================================
  #Sass Mixins
==============================================================================*/
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*============================================================================
  #Grid Setup
    - Based on csswizardry grid, but with floated columns and a fixed gutter size
    - Breakpoints defined above, under #Breakpoint and Grid Variables
    - Note the inclusion of .grid-uniform to take care of clearfixes on evenly sized grid-items
==============================================================================*/
/*============================================================================
  #Breakpoint and Grid Variables
==============================================================================*/
/*================ The following are dependencies of csswizardry grid ================*/
/* Force clearfix on grids */
.grid, .grid--rev, .grid--full, .grid--right, .grid--center,
.grid-uniform {
  *zoom: 1;
}
.grid:after, .grid--rev:after, .grid--full:after, .grid--right:after, .grid--center:after,
.grid-uniform:after {
  content: "";
  display: table;
  clear: both;
}

/* Manual grid-item clearfix */
.grid-item.clear {
  clear: both;
}

/*============================================================================
  Drop relative positioning into silent classes which can't take advantage of
  the `[class*="push--"]` and `[class*="pull--"]` selectors.
==============================================================================*/
/*============================================================================
  Grid Setup
    1. Allow the grid system to be used on lists.
    2. Remove any margins and paddings that might affect the grid system.
    3. Apply a negative `margin-left` to negate the columns' gutters.
==============================================================================*/
.grid, .grid--rev, .grid--full, .grid--right, .grid--center,
.grid-uniform {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -24px;
}

.grid-item {
  float: left;
  min-height: 1px;
  padding-left: 24px;
  vertical-align: top;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*============================================================================
  Reversed grids allow you to structure your source in the opposite
  order to how your rendered layout will appear.
==============================================================================*/
.grid--rev {
  direction: rtl;
  text-align: left;
}
.grid--rev > .grid-item {
  direction: ltr;
  text-align: left;
  float: right;
}

/* Gutterless grids have all the properties of regular grids, minus any spacing. */
.grid--full {
  margin-left: 0;
}
.grid--full > .grid-item {
  padding-left: 0;
}

/* Align the entire grid to the right. */
.grid--right {
  direction: rtl;
  text-align: right;
}
.grid--right > .grid-item {
  direction: ltr;
  float: right;
  text-align: left;
}

/* Centered grids align grid items centrally without needing to use push or pull classes. */
.grid--center {
  text-align: center;
}
.grid--center > .grid-item {
  text-align: left;
}

/*============================================================================
  WIDTHS
    - Create width classes, prefixed by the specified namespace.
==============================================================================*/
/*================ Clearfix helper on uniform grids ================*/
/*============================================================================
  HELPERS
==============================================================================*/
/*================ Helper show/hide classes around our breakpoints ================*/
/*================ Our regular, non-responsive width and helper classes ================*/
/** Whole */
.one-whole {
  width: 100%;
}

/* Halves */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%;
}

/* Thirds */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%;
}

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%;
}

/* Quarters */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%;
}

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%;
}

/* Fifths */
.one-fifth, .two-tenths {
  width: 20%;
}

.two-fifths, .four-tenths {
  width: 40%;
}

.three-fifths, .six-tenths {
  width: 60%;
}

.four-fifths, .eight-tenths {
  width: 80%;
}

/* Sixths */
.one-sixth, .two-twelfths {
  width: 16.666%;
}

.five-sixths, .ten-twelfths {
  width: 83.333%;
}

/* Eighths */
.one-eighth {
  width: 12.5%;
}

.three-eighths {
  width: 37.5%;
}

.five-eighths {
  width: 62.5%;
}

.seven-eighths {
  width: 87.5%;
}

/* Tenths */
.one-tenth {
  width: 10%;
}

.three-tenths {
  width: 30%;
}

.seven-tenths {
  width: 70%;
}

.nine-tenths {
  width: 90%;
}

/* Twelfths */
.one-twelfth {
  width: 8.333%;
}

.five-twelfths {
  width: 41.666%;
}

.seven-twelfths {
  width: 58.333%;
}

.eleven-twelfths {
  width: 91.666%;
}

show {
  display: block !important;
}

hide {
  display: none !important;
}

text-left {
  text-align: left !important;
}

text-right {
  text-align: right !important;
}

text-center {
  text-align: center !important;
}

left {
  float: left !important;
}

right {
  float: right !important;
}

/*================ Our responsive classes, if we have enabled them ================*/
@media only screen and (max-width: 480px) {
  /** Whole */
  .small--one-whole {
    width: 100%;
  }

  /* Halves */
  .small--one-half, .small--two-quarters, .small--three-sixths, .small--four-eighths, .small--five-tenths, .small--six-twelfths {
    width: 50%;
  }

  /* Thirds */
  .small--one-third, .small--two-sixths, .small--four-twelfths {
    width: 33.333%;
  }

  .small--two-thirds, .small--four-sixths, .small--eight-twelfths {
    width: 66.666%;
  }

  /* Quarters */
  .small--one-quarter, .small--two-eighths, .small--three-twelfths {
    width: 25%;
  }

  .small--three-quarters, .small--six-eighths, .small--nine-twelfths {
    width: 75%;
  }

  /* Fifths */
  .small--one-fifth, .small--two-tenths {
    width: 20%;
  }

  .small--two-fifths, .small--four-tenths {
    width: 40%;
  }

  .small--three-fifths, .small--six-tenths {
    width: 60%;
  }

  .small--four-fifths, .small--eight-tenths {
    width: 80%;
  }

  /* Sixths */
  .small--one-sixth, .small--two-twelfths {
    width: 16.666%;
  }

  .small--five-sixths, .small--ten-twelfths {
    width: 83.333%;
  }

  /* Eighths */
  .small--one-eighth {
    width: 12.5%;
  }

  .small--three-eighths {
    width: 37.5%;
  }

  .small--five-eighths {
    width: 62.5%;
  }

  .small--seven-eighths {
    width: 87.5%;
  }

  /* Tenths */
  .small--one-tenth {
    width: 10%;
  }

  .small--three-tenths {
    width: 30%;
  }

  .small--seven-tenths {
    width: 70%;
  }

  .small--nine-tenths {
    width: 90%;
  }

  /* Twelfths */
  .small--one-twelfth {
    width: 8.333%;
  }

  .small--five-twelfths {
    width: 41.666%;
  }

  .small--seven-twelfths {
    width: 58.333%;
  }

  .small--eleven-twelfths {
    width: 91.666%;
  }

  .small--show {
    display: block !important;
  }

  .small--hide {
    display: none !important;
  }

  .small--text-left {
    text-align: left !important;
  }

  .small--text-right {
    text-align: right !important;
  }

  .small--text-center {
    text-align: center !important;
  }

  .small--left {
    float: left !important;
  }

  .small--right {
    float: right !important;
  }

  .grid-uniform .small--one-half:nth-child(2n+1), .grid-uniform .small--two-quarters:nth-child(2n+1), .grid-uniform .small--three-sixths:nth-child(2n+1), .grid-uniform .small--four-eighths:nth-child(2n+1), .grid-uniform .small--five-tenths:nth-child(2n+1), .grid-uniform .small--six-twelfths:nth-child(2n+1),
  .grid-uniform .small--one-third:nth-child(3n+1),
  .grid-uniform .small--two-sixths:nth-child(3n+1),
  .grid-uniform .small--four-twelfths:nth-child(3n+1),
  .grid-uniform .small--one-quarter:nth-child(4n+1),
  .grid-uniform .small--two-eighths:nth-child(4n+1),
  .grid-uniform .small--three-twelfths:nth-child(4n+1),
  .grid-uniform .small--one-fifth:nth-child(5n+1),
  .grid-uniform .small--two-tenths:nth-child(5n+1),
  .grid-uniform .small--one-sixth:nth-child(6n+1),
  .grid-uniform .small--two-twelfths:nth-child(6n+1),
  .grid-uniform .small--two-sixths:nth-child(3n+1),
  .grid-uniform .small--three-sixths:nth-child(2n+1),
  .grid-uniform .small--two-eighths:nth-child(4n+1),
  .grid-uniform .small--four-eighths:nth-child(2n+1),
  .grid-uniform .small--five-tenths:nth-child(2n+1),
  .grid-uniform .small--one-twelfth:nth-child(12n+1),
  .grid-uniform .small--two-twelfths:nth-child(6n+1),
  .grid-uniform .small--three-twelfths:nth-child(4n+1),
  .grid-uniform .small--four-twelfths:nth-child(3n+1),
  .grid-uniform .small--six-twelfths:nth-child(2n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /** Whole */
  .medium--one-whole {
    width: 100%;
  }

  /* Halves */
  .medium--one-half, .medium--two-quarters, .medium--three-sixths, .medium--four-eighths, .medium--five-tenths, .medium--six-twelfths {
    width: 50%;
  }

  /* Thirds */
  .medium--one-third, .medium--two-sixths, .medium--four-twelfths {
    width: 33.333%;
  }

  .medium--two-thirds, .medium--four-sixths, .medium--eight-twelfths {
    width: 66.666%;
  }

  /* Quarters */
  .medium--one-quarter, .medium--two-eighths, .medium--three-twelfths {
    width: 25%;
  }

  .medium--three-quarters, .medium--six-eighths, .medium--nine-twelfths {
    width: 75%;
  }

  /* Fifths */
  .medium--one-fifth, .medium--two-tenths {
    width: 20%;
  }

  .medium--two-fifths, .medium--four-tenths {
    width: 40%;
  }

  .medium--three-fifths, .medium--six-tenths {
    width: 60%;
  }

  .medium--four-fifths, .medium--eight-tenths {
    width: 80%;
  }

  /* Sixths */
  .medium--one-sixth, .medium--two-twelfths {
    width: 16.666%;
  }

  .medium--five-sixths, .medium--ten-twelfths {
    width: 83.333%;
  }

  /* Eighths */
  .medium--one-eighth {
    width: 12.5%;
  }

  .medium--three-eighths {
    width: 37.5%;
  }

  .medium--five-eighths {
    width: 62.5%;
  }

  .medium--seven-eighths {
    width: 87.5%;
  }

  /* Tenths */
  .medium--one-tenth {
    width: 10%;
  }

  .medium--three-tenths {
    width: 30%;
  }

  .medium--seven-tenths {
    width: 70%;
  }

  .medium--nine-tenths {
    width: 90%;
  }

  /* Twelfths */
  .medium--one-twelfth {
    width: 8.333%;
  }

  .medium--five-twelfths {
    width: 41.666%;
  }

  .medium--seven-twelfths {
    width: 58.333%;
  }

  .medium--eleven-twelfths {
    width: 91.666%;
  }

  .medium--show {
    display: block !important;
  }

  .medium--hide {
    display: none !important;
  }

  .medium--text-left {
    text-align: left !important;
  }

  .medium--text-right {
    text-align: right !important;
  }

  .medium--text-center {
    text-align: center !important;
  }

  .medium--left {
    float: left !important;
  }

  .medium--right {
    float: right !important;
  }

  .grid-uniform .medium--one-half:nth-child(2n+1), .grid-uniform .medium--two-quarters:nth-child(2n+1), .grid-uniform .medium--three-sixths:nth-child(2n+1), .grid-uniform .medium--four-eighths:nth-child(2n+1), .grid-uniform .medium--five-tenths:nth-child(2n+1), .grid-uniform .medium--six-twelfths:nth-child(2n+1),
  .grid-uniform .medium--one-third:nth-child(3n+1),
  .grid-uniform .medium--two-sixths:nth-child(3n+1),
  .grid-uniform .medium--four-twelfths:nth-child(3n+1),
  .grid-uniform .medium--one-quarter:nth-child(4n+1),
  .grid-uniform .medium--two-eighths:nth-child(4n+1),
  .grid-uniform .medium--three-twelfths:nth-child(4n+1),
  .grid-uniform .medium--one-fifth:nth-child(5n+1),
  .grid-uniform .medium--two-tenths:nth-child(5n+1),
  .grid-uniform .medium--one-sixth:nth-child(6n+1),
  .grid-uniform .medium--two-twelfths:nth-child(6n+1),
  .grid-uniform .medium--two-sixths:nth-child(3n+1),
  .grid-uniform .medium--three-sixths:nth-child(2n+1),
  .grid-uniform .medium--two-eighths:nth-child(4n+1),
  .grid-uniform .medium--four-eighths:nth-child(2n+1),
  .grid-uniform .medium--five-tenths:nth-child(2n+1),
  .grid-uniform .medium--one-twelfth:nth-child(12n+1),
  .grid-uniform .medium--two-twelfths:nth-child(6n+1),
  .grid-uniform .medium--three-twelfths:nth-child(4n+1),
  .grid-uniform .medium--four-twelfths:nth-child(3n+1),
  .grid-uniform .medium--six-twelfths:nth-child(2n+1) {
    clear: both;
  }
}
@media only screen and (max-width: 768px) {
  /** Whole */
  .medium-down--one-whole {
    width: 100%;
  }

  /* Halves */
  .medium-down--one-half, .medium-down--two-quarters, .medium-down--three-sixths, .medium-down--four-eighths, .medium-down--five-tenths, .medium-down--six-twelfths {
    width: 50%;
  }

  /* Thirds */
  .medium-down--one-third, .medium-down--two-sixths, .medium-down--four-twelfths {
    width: 33.333%;
  }

  .medium-down--two-thirds, .medium-down--four-sixths, .medium-down--eight-twelfths {
    width: 66.666%;
  }

  /* Quarters */
  .medium-down--one-quarter, .medium-down--two-eighths, .medium-down--three-twelfths {
    width: 25%;
  }

  .medium-down--three-quarters, .medium-down--six-eighths, .medium-down--nine-twelfths {
    width: 75%;
  }

  /* Fifths */
  .medium-down--one-fifth, .medium-down--two-tenths {
    width: 20%;
  }

  .medium-down--two-fifths, .medium-down--four-tenths {
    width: 40%;
  }

  .medium-down--three-fifths, .medium-down--six-tenths {
    width: 60%;
  }

  .medium-down--four-fifths, .medium-down--eight-tenths {
    width: 80%;
  }

  /* Sixths */
  .medium-down--one-sixth, .medium-down--two-twelfths {
    width: 16.666%;
  }

  .medium-down--five-sixths, .medium-down--ten-twelfths {
    width: 83.333%;
  }

  /* Eighths */
  .medium-down--one-eighth {
    width: 12.5%;
  }

  .medium-down--three-eighths {
    width: 37.5%;
  }

  .medium-down--five-eighths {
    width: 62.5%;
  }

  .medium-down--seven-eighths {
    width: 87.5%;
  }

  /* Tenths */
  .medium-down--one-tenth {
    width: 10%;
  }

  .medium-down--three-tenths {
    width: 30%;
  }

  .medium-down--seven-tenths {
    width: 70%;
  }

  .medium-down--nine-tenths {
    width: 90%;
  }

  /* Twelfths */
  .medium-down--one-twelfth {
    width: 8.333%;
  }

  .medium-down--five-twelfths {
    width: 41.666%;
  }

  .medium-down--seven-twelfths {
    width: 58.333%;
  }

  .medium-down--eleven-twelfths {
    width: 91.666%;
  }

  .medium-down--show {
    display: block !important;
  }

  .medium-down--hide {
    display: none !important;
  }

  .medium-down--text-left {
    text-align: left !important;
  }

  .medium-down--text-right {
    text-align: right !important;
  }

  .medium-down--text-center {
    text-align: center !important;
  }

  .medium-down--left {
    float: left !important;
  }

  .medium-down--right {
    float: right !important;
  }

  .grid-uniform .medium-down--one-half:nth-child(2n+1), .grid-uniform .medium-down--two-quarters:nth-child(2n+1), .grid-uniform .medium-down--three-sixths:nth-child(2n+1), .grid-uniform .medium-down--four-eighths:nth-child(2n+1), .grid-uniform .medium-down--five-tenths:nth-child(2n+1), .grid-uniform .medium-down--six-twelfths:nth-child(2n+1),
  .grid-uniform .medium-down--one-third:nth-child(3n+1),
  .grid-uniform .medium-down--two-sixths:nth-child(3n+1),
  .grid-uniform .medium-down--four-twelfths:nth-child(3n+1),
  .grid-uniform .medium-down--one-quarter:nth-child(4n+1),
  .grid-uniform .medium-down--two-eighths:nth-child(4n+1),
  .grid-uniform .medium-down--three-twelfths:nth-child(4n+1),
  .grid-uniform .medium-down--one-fifth:nth-child(5n+1),
  .grid-uniform .medium-down--two-tenths:nth-child(5n+1),
  .grid-uniform .medium-down--one-sixth:nth-child(6n+1),
  .grid-uniform .medium-down--two-twelfths:nth-child(6n+1),
  .grid-uniform .medium-down--two-sixths:nth-child(3n+1),
  .grid-uniform .medium-down--three-sixths:nth-child(2n+1),
  .grid-uniform .medium-down--two-eighths:nth-child(4n+1),
  .grid-uniform .medium-down--four-eighths:nth-child(2n+1),
  .grid-uniform .medium-down--five-tenths:nth-child(2n+1),
  .grid-uniform .medium-down--one-twelfth:nth-child(12n+1),
  .grid-uniform .medium-down--two-twelfths:nth-child(6n+1),
  .grid-uniform .medium-down--three-twelfths:nth-child(4n+1),
  .grid-uniform .medium-down--four-twelfths:nth-child(3n+1),
  .grid-uniform .medium-down--six-twelfths:nth-child(2n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 1024px) {
  /** Whole */
  .large--one-whole {
    width: 100%;
  }

  /* Halves */
  .large--one-half, .large--two-quarters, .large--three-sixths, .large--four-eighths, .large--five-tenths, .large--six-twelfths {
    width: 50%;
  }

  /* Thirds */
  .large--one-third, .large--two-sixths, .large--four-twelfths {
    width: 33.333%;
  }

  .large--two-thirds, .large--four-sixths, .large--eight-twelfths {
    width: 66.666%;
  }

  /* Quarters */
  .large--one-quarter, .large--two-eighths, .large--three-twelfths {
    width: 25%;
  }

  .large--three-quarters, .large--six-eighths, .large--nine-twelfths {
    width: 75%;
  }

  /* Fifths */
  .large--one-fifth, .large--two-tenths {
    width: 20%;
  }

  .large--two-fifths, .large--four-tenths {
    width: 40%;
  }

  .large--three-fifths, .large--six-tenths {
    width: 60%;
  }

  .large--four-fifths, .large--eight-tenths {
    width: 80%;
  }

  /* Sixths */
  .large--one-sixth, .large--two-twelfths {
    width: 16.666%;
  }

  .large--five-sixths, .large--ten-twelfths {
    width: 83.333%;
  }

  /* Eighths */
  .large--one-eighth {
    width: 12.5%;
  }

  .large--three-eighths {
    width: 37.5%;
  }

  .large--five-eighths {
    width: 62.5%;
  }

  .large--seven-eighths {
    width: 87.5%;
  }

  /* Tenths */
  .large--one-tenth {
    width: 10%;
  }

  .large--three-tenths {
    width: 30%;
  }

  .large--seven-tenths {
    width: 70%;
  }

  .large--nine-tenths {
    width: 90%;
  }

  /* Twelfths */
  .large--one-twelfth {
    width: 8.333%;
  }

  .large--five-twelfths {
    width: 41.666%;
  }

  .large--seven-twelfths {
    width: 58.333%;
  }

  .large--eleven-twelfths {
    width: 91.666%;
  }

  .large--show {
    display: block !important;
  }

  .large--hide {
    display: none !important;
  }

  .large--text-left {
    text-align: left !important;
  }

  .large--text-right {
    text-align: right !important;
  }

  .large--text-center {
    text-align: center !important;
  }

  .large--left {
    float: left !important;
  }

  .large--right {
    float: right !important;
  }

  .grid-uniform .large--one-half:nth-child(2n+1), .grid-uniform .large--two-quarters:nth-child(2n+1), .grid-uniform .large--three-sixths:nth-child(2n+1), .grid-uniform .large--four-eighths:nth-child(2n+1), .grid-uniform .large--five-tenths:nth-child(2n+1), .grid-uniform .large--six-twelfths:nth-child(2n+1),
  .grid-uniform .large--one-third:nth-child(3n+1),
  .grid-uniform .large--two-sixths:nth-child(3n+1),
  .grid-uniform .large--four-twelfths:nth-child(3n+1),
  .grid-uniform .large--one-quarter:nth-child(4n+1),
  .grid-uniform .large--two-eighths:nth-child(4n+1),
  .grid-uniform .large--three-twelfths:nth-child(4n+1),
  .grid-uniform .large--one-fifth:nth-child(5n+1),
  .grid-uniform .large--two-tenths:nth-child(5n+1),
  .grid-uniform .large--one-sixth:nth-child(6n+1),
  .grid-uniform .large--two-twelfths:nth-child(6n+1),
  .grid-uniform .large--two-sixths:nth-child(3n+1),
  .grid-uniform .large--three-sixths:nth-child(2n+1),
  .grid-uniform .large--two-eighths:nth-child(4n+1),
  .grid-uniform .large--four-eighths:nth-child(2n+1),
  .grid-uniform .large--five-tenths:nth-child(2n+1),
  .grid-uniform .large--one-twelfth:nth-child(12n+1),
  .grid-uniform .large--two-twelfths:nth-child(6n+1),
  .grid-uniform .large--three-twelfths:nth-child(4n+1),
  .grid-uniform .large--four-twelfths:nth-child(3n+1),
  .grid-uniform .large--six-twelfths:nth-child(2n+1) {
    clear: both;
  }
}
@media only screen and (max-width: 1024px) {
  /** Whole */
  .large-down--one-whole {
    width: 100%;
  }

  /* Halves */
  .large-down--one-half, .large-down--two-quarters, .large-down--three-sixths, .large-down--four-eighths, .large-down--five-tenths, .large-down--six-twelfths {
    width: 50%;
  }

  /* Thirds */
  .large-down--one-third, .large-down--two-sixths, .large-down--four-twelfths {
    width: 33.333%;
  }

  .large-down--two-thirds, .large-down--four-sixths, .large-down--eight-twelfths {
    width: 66.666%;
  }

  /* Quarters */
  .large-down--one-quarter, .large-down--two-eighths, .large-down--three-twelfths {
    width: 25%;
  }

  .large-down--three-quarters, .large-down--six-eighths, .large-down--nine-twelfths {
    width: 75%;
  }

  /* Fifths */
  .large-down--one-fifth, .large-down--two-tenths {
    width: 20%;
  }

  .large-down--two-fifths, .large-down--four-tenths {
    width: 40%;
  }

  .large-down--three-fifths, .large-down--six-tenths {
    width: 60%;
  }

  .large-down--four-fifths, .large-down--eight-tenths {
    width: 80%;
  }

  /* Sixths */
  .large-down--one-sixth, .large-down--two-twelfths {
    width: 16.666%;
  }

  .large-down--five-sixths, .large-down--ten-twelfths {
    width: 83.333%;
  }

  /* Eighths */
  .large-down--one-eighth {
    width: 12.5%;
  }

  .large-down--three-eighths {
    width: 37.5%;
  }

  .large-down--five-eighths {
    width: 62.5%;
  }

  .large-down--seven-eighths {
    width: 87.5%;
  }

  /* Tenths */
  .large-down--one-tenth {
    width: 10%;
  }

  .large-down--three-tenths {
    width: 30%;
  }

  .large-down--seven-tenths {
    width: 70%;
  }

  .large-down--nine-tenths {
    width: 90%;
  }

  /* Twelfths */
  .large-down--one-twelfth {
    width: 8.333%;
  }

  .large-down--five-twelfths {
    width: 41.666%;
  }

  .large-down--seven-twelfths {
    width: 58.333%;
  }

  .large-down--eleven-twelfths {
    width: 91.666%;
  }

  .large-down--show {
    display: block !important;
  }

  .large-down--hide {
    display: none !important;
  }

  .large-down--text-left {
    text-align: left !important;
  }

  .large-down--text-right {
    text-align: right !important;
  }

  .large-down--text-center {
    text-align: center !important;
  }

  .large-down--left {
    float: left !important;
  }

  .large-down--right {
    float: right !important;
  }

  .grid-uniform .large-down--one-half:nth-child(2n+1), .grid-uniform .large-down--two-quarters:nth-child(2n+1), .grid-uniform .large-down--three-sixths:nth-child(2n+1), .grid-uniform .large-down--four-eighths:nth-child(2n+1), .grid-uniform .large-down--five-tenths:nth-child(2n+1), .grid-uniform .large-down--six-twelfths:nth-child(2n+1),
  .grid-uniform .large-down--one-third:nth-child(3n+1),
  .grid-uniform .large-down--two-sixths:nth-child(3n+1),
  .grid-uniform .large-down--four-twelfths:nth-child(3n+1),
  .grid-uniform .large-down--one-quarter:nth-child(4n+1),
  .grid-uniform .large-down--two-eighths:nth-child(4n+1),
  .grid-uniform .large-down--three-twelfths:nth-child(4n+1),
  .grid-uniform .large-down--one-fifth:nth-child(5n+1),
  .grid-uniform .large-down--two-tenths:nth-child(5n+1),
  .grid-uniform .large-down--one-sixth:nth-child(6n+1),
  .grid-uniform .large-down--two-twelfths:nth-child(6n+1),
  .grid-uniform .large-down--two-sixths:nth-child(3n+1),
  .grid-uniform .large-down--three-sixths:nth-child(2n+1),
  .grid-uniform .large-down--two-eighths:nth-child(4n+1),
  .grid-uniform .large-down--four-eighths:nth-child(2n+1),
  .grid-uniform .large-down--five-tenths:nth-child(2n+1),
  .grid-uniform .large-down--one-twelfth:nth-child(12n+1),
  .grid-uniform .large-down--two-twelfths:nth-child(6n+1),
  .grid-uniform .large-down--three-twelfths:nth-child(4n+1),
  .grid-uniform .large-down--four-twelfths:nth-child(3n+1),
  .grid-uniform .large-down--six-twelfths:nth-child(2n+1) {
    clear: both;
  }
}
/*============================================================================
  PUSH
    - Push classes, to move grid items over to the right by certain amounts
==============================================================================*/
[class*="push--"] {
  position: relative;
}

/* Whole */
.push--one-whole {
  left: 100%;
}

/* Halves */
.push--one-half, .push--two-quarters, .push--three-sixths, .push--four-eighths, .push--five-tenths, .push--six-twelfths {
  left: 50%;
}

/* Thirds */
.push--one-third, .push--two-sixths, .push--four-twelfths {
  left: 33.333%;
}

.push--two-thirds, .push--four-sixths, .push--eight-twelfths {
  left: 66.666%;
}

/* Quarters */
.push--one-quarter, .push--two-eighths, .push--three-twelfths {
  left: 25%;
}

.push--three-quarters, .push--six-eighths, .push--nine-twelfths {
  left: 75%;
}

/* Fifths */
.push--one-fifth, .push--two-tenths {
  left: 20%;
}

.push--two-fifths, .push--four-tenths {
  left: 40%;
}

.push--three-fifths, .push--six-tenths {
  left: 60%;
}

.push--four-fifths, .push--eight-tenths {
  left: 80%;
}

/* Sixths */
.push--one-sixth, .push--two-twelfths {
  left: 16.666%;
}

.push--five-sixths, .push--ten-twelfths {
  left: 83.333%;
}

/* Eighths */
.push--one-eighth {
  left: 12.5%;
}

.push--three-eighths {
  left: 37.5%;
}

.push--five-eighths {
  left: 62.5%;
}

.push--seven-eighths {
  left: 87.5%;
}

/* Tenths */
.push--one-tenth {
  left: 10%;
}

.push--three-tenths {
  left: 30%;
}

.push--seven-tenths {
  left: 70%;
}

.push--nine-tenths {
  left: 90%;
}

/* Twelfths */
.push--one-twelfth {
  left: 8.333%;
}

.push--five-twelfths {
  left: 41.666%;
}

.push--seven-twelfths {
  left: 58.333%;
}

.push--eleven-twelfths {
  left: 91.666%;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Whole */
  .push--medium--one-whole {
    left: 100%;
  }

  /* Halves */
  .push--medium--one-half, .push--medium--two-quarters, .push--medium--three-sixths, .push--medium--four-eighths, .push--medium--five-tenths, .push--medium--six-twelfths {
    left: 50%;
  }

  /* Thirds */
  .push--medium--one-third, .push--medium--two-sixths, .push--medium--four-twelfths {
    left: 33.333%;
  }

  .push--medium--two-thirds, .push--medium--four-sixths, .push--medium--eight-twelfths {
    left: 66.666%;
  }

  /* Quarters */
  .push--medium--one-quarter, .push--medium--two-eighths, .push--medium--three-twelfths {
    left: 25%;
  }

  .push--medium--three-quarters, .push--medium--six-eighths, .push--medium--nine-twelfths {
    left: 75%;
  }

  /* Fifths */
  .push--medium--one-fifth, .push--medium--two-tenths {
    left: 20%;
  }

  .push--medium--two-fifths, .push--medium--four-tenths {
    left: 40%;
  }

  .push--medium--three-fifths, .push--medium--six-tenths {
    left: 60%;
  }

  .push--medium--four-fifths, .push--medium--eight-tenths {
    left: 80%;
  }

  /* Sixths */
  .push--medium--one-sixth, .push--medium--two-twelfths {
    left: 16.666%;
  }

  .push--medium--five-sixths, .push--medium--ten-twelfths {
    left: 83.333%;
  }

  /* Eighths */
  .push--medium--one-eighth {
    left: 12.5%;
  }

  .push--medium--three-eighths {
    left: 37.5%;
  }

  .push--medium--five-eighths {
    left: 62.5%;
  }

  .push--medium--seven-eighths {
    left: 87.5%;
  }

  /* Tenths */
  .push--medium--one-tenth {
    left: 10%;
  }

  .push--medium--three-tenths {
    left: 30%;
  }

  .push--medium--seven-tenths {
    left: 70%;
  }

  .push--medium--nine-tenths {
    left: 90%;
  }

  /* Twelfths */
  .push--medium--one-twelfth {
    left: 8.333%;
  }

  .push--medium--five-twelfths {
    left: 41.666%;
  }

  .push--medium--seven-twelfths {
    left: 58.333%;
  }

  .push--medium--eleven-twelfths {
    left: 91.666%;
  }
}
@media only screen and (max-width: 768px) {
  /* Whole */
  .push--medium-down--one-whole {
    left: 100%;
  }

  /* Halves */
  .push--medium-down--one-half, .push--medium-down--two-quarters, .push--medium-down--three-sixths, .push--medium-down--four-eighths, .push--medium-down--five-tenths, .push--medium-down--six-twelfths {
    left: 50%;
  }

  /* Thirds */
  .push--medium-down--one-third, .push--medium-down--two-sixths, .push--medium-down--four-twelfths {
    left: 33.333%;
  }

  .push--medium-down--two-thirds, .push--medium-down--four-sixths, .push--medium-down--eight-twelfths {
    left: 66.666%;
  }

  /* Quarters */
  .push--medium-down--one-quarter, .push--medium-down--two-eighths, .push--medium-down--three-twelfths {
    left: 25%;
  }

  .push--medium-down--three-quarters, .push--medium-down--six-eighths, .push--medium-down--nine-twelfths {
    left: 75%;
  }

  /* Fifths */
  .push--medium-down--one-fifth, .push--medium-down--two-tenths {
    left: 20%;
  }

  .push--medium-down--two-fifths, .push--medium-down--four-tenths {
    left: 40%;
  }

  .push--medium-down--three-fifths, .push--medium-down--six-tenths {
    left: 60%;
  }

  .push--medium-down--four-fifths, .push--medium-down--eight-tenths {
    left: 80%;
  }

  /* Sixths */
  .push--medium-down--one-sixth, .push--medium-down--two-twelfths {
    left: 16.666%;
  }

  .push--medium-down--five-sixths, .push--medium-down--ten-twelfths {
    left: 83.333%;
  }

  /* Eighths */
  .push--medium-down--one-eighth {
    left: 12.5%;
  }

  .push--medium-down--three-eighths {
    left: 37.5%;
  }

  .push--medium-down--five-eighths {
    left: 62.5%;
  }

  .push--medium-down--seven-eighths {
    left: 87.5%;
  }

  /* Tenths */
  .push--medium-down--one-tenth {
    left: 10%;
  }

  .push--medium-down--three-tenths {
    left: 30%;
  }

  .push--medium-down--seven-tenths {
    left: 70%;
  }

  .push--medium-down--nine-tenths {
    left: 90%;
  }

  /* Twelfths */
  .push--medium-down--one-twelfth {
    left: 8.333%;
  }

  .push--medium-down--five-twelfths {
    left: 41.666%;
  }

  .push--medium-down--seven-twelfths {
    left: 58.333%;
  }

  .push--medium-down--eleven-twelfths {
    left: 91.666%;
  }
}
@media only screen and (min-width: 1024px) {
  /* Whole */
  .push--large--one-whole {
    left: 100%;
  }

  /* Halves */
  .push--large--one-half, .push--large--two-quarters, .push--large--three-sixths, .push--large--four-eighths, .push--large--five-tenths, .push--large--six-twelfths {
    left: 50%;
  }

  /* Thirds */
  .push--large--one-third, .push--large--two-sixths, .push--large--four-twelfths {
    left: 33.333%;
  }

  .push--large--two-thirds, .push--large--four-sixths, .push--large--eight-twelfths {
    left: 66.666%;
  }

  /* Quarters */
  .push--large--one-quarter, .push--large--two-eighths, .push--large--three-twelfths {
    left: 25%;
  }

  .push--large--three-quarters, .push--large--six-eighths, .push--large--nine-twelfths {
    left: 75%;
  }

  /* Fifths */
  .push--large--one-fifth, .push--large--two-tenths {
    left: 20%;
  }

  .push--large--two-fifths, .push--large--four-tenths {
    left: 40%;
  }

  .push--large--three-fifths, .push--large--six-tenths {
    left: 60%;
  }

  .push--large--four-fifths, .push--large--eight-tenths {
    left: 80%;
  }

  /* Sixths */
  .push--large--one-sixth, .push--large--two-twelfths {
    left: 16.666%;
  }

  .push--large--five-sixths, .push--large--ten-twelfths {
    left: 83.333%;
  }

  /* Eighths */
  .push--large--one-eighth {
    left: 12.5%;
  }

  .push--large--three-eighths {
    left: 37.5%;
  }

  .push--large--five-eighths {
    left: 62.5%;
  }

  .push--large--seven-eighths {
    left: 87.5%;
  }

  /* Tenths */
  .push--large--one-tenth {
    left: 10%;
  }

  .push--large--three-tenths {
    left: 30%;
  }

  .push--large--seven-tenths {
    left: 70%;
  }

  .push--large--nine-tenths {
    left: 90%;
  }

  /* Twelfths */
  .push--large--one-twelfth {
    left: 8.333%;
  }

  .push--large--five-twelfths {
    left: 41.666%;
  }

  .push--large--seven-twelfths {
    left: 58.333%;
  }

  .push--large--eleven-twelfths {
    left: 91.666%;
  }
}
/*============================================================================
  PULL
    - Pull classes, to move grid items back to the left by certain amounts
==============================================================================*/
